<div class="container mt-3">

  <div class="card-cocktail">
    <div class="images">
      <img src="https://images.unsplash.com/photo-1527271982979-83fea3eb3582?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=752&q=80" />
    </div>

    <div class="product">
      <p>Recipe</p>
      <h1><%= @cocktail.name %></h1>
      <h2><%= link_to "Edit recipe", edit_cocktail_path(@cocktail) %></h2>
      <ul class="desc">
          <li><%= @cocktail.description %>
          <% @cocktail.doses.each do |dose| %>
          <%=dose.description %> <%=dose.ingredient.name %><%= link_to cocktail_dose_path(@cocktail, dose), method: :delete do %> <i class="fa fa-trash"></i><% end %>
          <% end %></li>
      </ul>

      <button class="buttons">
        <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail) %>
      </button>
    </div>
  </div>

</div>
